
/* htmls en gral*/
*{
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: black;
}

body{
    background-image: url(../img/bg-body.png);
    background-repeat: repeat;
}
main{
    margin: 0px 80px;
}
.header{

display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(61, 61, 61);
margin-bottom: 20px;
}
/* Header */

.bloqueLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: white;
}
/* Logo */

.bloqueLogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    width: 200px;
    height: 90px;
}

/* Banner */

.bloqueBanner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Nav */

.bloqueOpciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
}

.textoOpciones{
    text-decoration: none;
    color: white;
    background-color: rgb(183, 183, 183);
padding: 5px 20px;
    text-align: center;
    line-height: 40px;
    border: solid 2px rgb(61, 61, 61);
}

.BusquedaCanciones{
display: flex;

justify-content: space-between;
width: 33%;
}
.Lupita{
    color: white;

  

}

#novedades{
    width: 100%;
}
.section{
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: space-between;
margin-top: 30px;
width: 100%;
}
.article{
display: flex;
flex-wrap: wrap;
flex-direction: column;
max-width: 360px;
font-family: 'Montserrat', sans-serif;
color: whitesmoke;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.img{
    height: 200px;
    border: solid 1px white;
}
.verMas{
    text-decoration: none;
    color: white;
    background-color: rgb(61, 61, 61);
    align-self: flex-start;
    padding: 10px;
}
.lorem{
    font-size: larger;
    color: whitesmoke;
    font-weight: 900;
}
.bloqueOpciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 20px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: rgb(61, 61, 61);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.textoFooter{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#novedades{
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(61, 61, 61);
}
#quienesSomos{
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(61, 61, 61);

}
.quienes{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.iframe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
    .articlecanc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    max-width: 360px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    }
    .cancionesenoferta{
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;

    }
    .cancionesmasescuchadas{
        color: white;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        background-color: rgb(61, 61, 61);
    }
    .videos{
        
        height: 200px;
        border: solid 1px white;
        width: 230px;
    }
    .fotodiscos{
        height: 200px;
        border: solid 1px white;
        width: 230px;
    }
    .videosdetallecanc{
        border: solid 1px white;
        width: 500px;
        height: 300px;
        display: block;
        flex-wrap: wrap;
        justify-content:center;

    }

.textodetacanc{
    color: white;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
}
.fotodetallecanc{
    border: solid 1px white;
    width: 500px;
    height: 500px;
    display: block;
    flex-wrap: wrap;
    justify-content:center;
}
.playlistdet{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 0);
    align-self: flex-start;
    padding: 10px;}
    .divdetalle{
        display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    .cajapadredetalle{
        display: flex;
        justify-content: center;

    }
    .cajapadrefotodetalle{
            display: flex;
            justify-content: center;
    }